@{
    ViewBag.Title = "Hello";
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">About</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Index -->
<div>
    <div class="jumbotron jumbotron-index vertical-center" style="min-height: 650px">
        <div class="container">
            <div class="clearfix">
                <div class="col-md-7">
                    <h1 class="">How people find meals to eat</h1>
                    <p class="">Find and Eat</p>
                </div>
                <div class="col-md-5">
                    <div>
                        <dl>
                            <dd>
                                <input type="text" class="form-control input-lg" placeholder="Pick a username"
                                       autofocus="">
                            </dd>
                        </dl>
                        <dl>
                            <dd>
                                <input type="text" class="form-control input-lg"
                                       placeholder="Your email address">
                            </dd>
                        </dl>
                        <dl>
                            <dd>
                                <input type="password" class="form-control input-lg"
                                       placeholder="Create a password">
                                <span class="email-notice">Use at least one letter, one numeral, and seven characters.</span>
                            </dd>
                        </dl>

                        <button class="btn btn-primary btn-lg btn-block btn-success" type="submit">
                            Sign up for
                            School
                        </button>

                        <span class="email-notice text-center">
                            By clicking "Sign up for School", you agree to our
                            <a class="" href="#" target="_blank">privacy policy</a>.
                            <span class="email-notice">We'll occasionally send you account related emails.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center contain-zone">
        <h2 class="">Welcome home, Idiot</h2>
        <h3 class="">
            WTE provides a fast, delicious, and cheaper takeaway that lets you keep working on your own room
            while you feel hungry.
        </h3>
    </div>
    <div class="contain-center-gray contain-zone">
        <div class="container text-center clearfix">
            <div class="col-md-2 float-md-left">
                <img src="#" alt="Alternate Text" />
                <a href="#" type="button" class="btn btn-success navbar-btn">Enter</a>
            </div>
            <div class="col-md-5 float-md-left">
                <h1>ORDER</h1>
                <h3>In this part, we provide teachers or students to order their favorite food.</h3>
            </div>
        </div>
    </div>
    <div class="contain-zone">
        <div class="container text-center clearfix">
            <div class="col-md-2 float-md-right">
                <img src="#" alt="Alternate Text" />
                <a href="#" type="button" class="btn btn-success navbar-btn">Enter</a>
            </div>
            <div class="col-md-5 float-md-right">
                <h1>JOBS</h1>
                <h3>In this part, we provide students work-study programs.</h3>
            </div>
        </div>
    </div>
    <div class="contain-center-gray contain-zone">
        <div class="container text-center clearfix">
            <div class="col-md-2 float-md-left">
                <img src="#" alt="Alternate Text" />
                <a href="#" type="button" class="btn btn-success navbar-btn">Enter</a>
            </div>
            <div class="col-md-5 float-md-left">
                <h1>CONTACT</h1>
                <h3>what you need? Wannna join us? Pls enter to find way to contact us.</h3>
            </div>
        </div>
    </div>
    <div class="container contain-zone">
        <div class="text-center">
            <h1 id="about" onclick="addAboutAttr()">ABOUT</h1>
        </div>
    </div>
</div>