/*
    Base style
*/

body {
    margin-top: 100px;
}

ul,
li,
ol,
dl {
    list-style: none;
}
ul > li{
    margin-right:30px;
    display:inline-block;
}

@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 54px;
    }
}

@media (min-width: 992px) {
    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .vertical-align {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .navbar-form {
        margin: 8px 0;
    }
}

.current{
  background-color: #666;
  color: #fff !important;
  padding: 2px;
  width: 300px;
  height: 50px;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 10px;
}
/*
    Home Index
*/

.jumbotron-index {
    background: url('/Content/images/home-bg-1.jpg') center;
    -ms-background-size: cover;
    background-size: cover;
}

/**********************************************/

.contain-center-gray {
    background: #d9d0d0;
    background: rgba(217, 208, 208, 0.75);
}

.contain-zone {
    padding: 30px 0;
}

.email-notice {
    text-indent: 2em;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    color: #000;
    text-shadow: #000;
}

.float-md-right {
    float: right;
    height: 260px;
}

.float-md-left {
    float: left;
    height: 280px;
}

.float-md-center {
    padding-top: 1px;
}

.text-center a {
    text-decoration: none;
}

/*
    Auth SignUp
*/

.signup-container {
    padding-right: 20%;
    margin-left: 20%;
}

/*
    Order Canteen
*/

.wrapper {
    margin-top: 90px;
    height: 100px;
    border: 1px solid #e6e6e6;
}

.Business-sorts {
    margin-top: 30px;
    height: 45px;
    border: 1px solid #e6e6e6;
    line-height: 26px;
    padding: 10px 10px 10px 7em;
    position: relative;
}

.Business-sorts a{
    color:#1e1818;
}

.Business-sorts > ul > li > a{
    text-decoration:none;
}

.Business-sorts > span{
    color: #999;
    position:absolute;
    left:40px;
    top:10px;
}

.rstbox {
    width:100%;
    display:none;
    margin-top: 20px;
    border: 1px solid #e6e6e6;
}
.rstbox-current{
    display:table;
}

.rstblock{
    float:left;
    width:25%;
    border-bottom:1px solid #f5f5f5;
    height:140px;
}

.rstblock:hover{
    background-color:#f1f1f1;
}
.rstblock img{
    padding-top:15px;
    padding-left:15px;
}
.cart{
    display:none;
    z-index: 102;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 40px;
    font-size: 14px;
}
.cart-current{
    display:block !important;
}
.cart-basket{
    height: auto;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 15px #ccc;
}
.cart-clear{
    border-top: 2px solid #0089dc;
    padding: 12px 10px;
    height: 42px;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.cart-info{
    display: table;
    table-layout: fixed;
    height: 42px;
    width: 100%;
    padding: 0 10px;
    margin-top: -1px;
    border-bottom: 1px solid #eee;
}
.cart-footer{
    z-index: 2;
    position: relative;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    background-color: #2c2c2c;
    box-shadow: 0 1px 3px #2c2c2c;
}
.cart-footer-check{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    outline: 0;
    width: 100px;
    text-align: center;
    background-color: #51d862;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.disabled {
    background-color: #e4e4e4;
    cursor: default;
}