
@{ViewBag.Title = "Canteen";}

<div class="container clearfix">

    <div class="navbar-left navbar-form">
        <span>Current location：</span>
        <span>
            <a href="#">2333</a>
        </span>
    </div>

    <div class="navbar-right navbar-form">
        <input class="search-input" placeholder="Search foods" />
        <i class="fa fa-search"></i>
    </div>

    <div class="container-fluid">
        <div class="wrapper">
            wrapper
            <p>广告位长期招收</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="Business-sorts">
            <span>商家分类：</span>
            <ul>
                <li><a href="#" class="current" onclick="showSelected()">全部商家</a></li>
                <li><a href="#" onclick="showSelected()">快餐便当</a></li>
                <li><a href="#" onclick="showSelected()">特色菜系</a></li>
                <li><a href="#" onclick="showSelected()">异国料理</a></li>
                <li><a href="#" onclick="showSelected()">小吃宵夜</a></li>
                <li><a href="#" onclick="showSelected()">甜品饮品</a></li>
                <li><a href="#" onclick="showSelected()">商店超市</a></li>
            </ul>
        </div>

        <div class="rstbox">
            <a href="#" class="rstblock">content1</a>
            <a href="#" class="rstblock">content2</a>
            <a href="#" class="rstblock">content3</a>
            <a href="#" class="rstblock">content4</a>
            <a href="#" class="rstblock">content5</a>
            <a href="#" class="rstblock">content6</a>
            <a href="#" class="rstblock">content7</a>
            <a href="#" class="rstblock">content8</a>
        </div>
    </div>
</div>