
@{ViewBag.Title = "Canteen";}

<div class="container clearfix">

    <div class="navbar-left navbar-form">
        <span>Current location：</span>
        <span>
            <a href="#">2333</a>
        </span>
    </div>

    <div class="navbar-right navbar-form">
        <input class="search-input" placeholder="Search foods"></input>
        <a href="#" class="glyphicon-search"></a>
    </div>

    <div class="carousel wrapper">
        wrapper
    </div>
    
    <div class="sorts">
        sorts
    </div>

    <div class="rstbox">
        rstbox
    </div>
</div>