@Styles.Render("~/Content/css/account")

<div class="left-side left">
    <ul>
        <li><a href="Home" class="title-color panel-title"><i class="fa fa-home"></i>Personal</a></li>
        <li>
            <span class="modal-title text-center"><i class="fa fa-cutlery"></i>My orders</span>
            <ul class="sm-left-side">
                <li><a href="#">Recent orders</a></li>
                <li><a href="#">Evaluated</a></li>
                <li><a href="#">Single record</a></li>
            </ul>
        </li>
        <li>
            <span class="modal-title text-center"><i class="fa fa-inbox"></i>My assets</span>
            <ul class="sm-left-side">
                <li><a href="#">Red packet</a></li>
                <li><a href="#">Account balance</a></li>
                <li><a href="#">Integration</a></li>
            </ul>
        </li>
        <li>
            <span class="modal-title text-center"><i class="fa fa-male"></i>Profile</span>
            <ul class="sm-left-side">
                <li><a href="Info">Personal profile</a></li>
                <li><a href="#">Address</a></li>
                <li><a href="Security">Security center</a></li>
                <li><a href="Modifypassword">Modify password</a></li>
            </ul>
        </li>
    </ul>
</div>