    <div class="left-side left">
        <ul>
            <li><a href="#" class="title-color panel-title">Personal</a></li>
            <li>
                <span class="modal-title text-center">My orders</span>
                <ul class="sm-left-side">
                    <li><a href="#">Recent orders</a></li>
                    <li><a href="#">Evaluated</a></li>
                    <li><a href="#">Single record</a></li>
                </ul>
            </li>
            <li>
                <span class="modal-title text-center">My assets</span>
                <ul class="sm-left-side">
                    <li><a href="#">Red packet</a></li>
                    <li><a href="#">Account balance</a></li>
                    <li><a href="#">Integration</a></li>
                </ul>
            </li>
            <li>
                <span class="modal-title text-center">Profile</span>
                <ul class="sm-left-side">
                    <li><a href="#">Personal profile</a></li>
                    <li><a href="#">Address</a></li>
                    <li><a href="#">Security center</a></li>
                    <li><a href="#">Modify password</a></li>
                </ul>
            </li>
        </ul>
    </div>