
@{ViewBag.Title = "AccountBalance";}

<div class="container clearfix">
    @{Html.RenderPartial("_accountLayout"); }
    <div class="right-side left">
        <div class="global-panel-big-title">Evaluated</div>
        <div class="panel-content">
            <div class="balance-summary">

                @*Need to change*@
                <div class="tex">
                    <span>Current Balance: </span>
                    <b>0</b>
                    RMB
                </div>
            </div>
        </div>
    </div>
</div>
