
@{ViewBag.Title = "BusinessVerified";}

<div class="container clearfix">
    @{Html.RenderPartial("_accountLayout"); }
    <div class="right-side left">
        <div class="global-panel-big-title">Business Verified</div>
        <div class="container-fluid">

            @*need to change*@

            <div class="form-group" style="display:table; margin-top:15px">
                <div style="display:table-cell; vertical-align:top; font-size:16px">
                    <b>Introduction:</b>
                </div>
                <textarea style="display:table-cell;margin-left:5px;width:500px" class="left form-control" rows="3"></textarea>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-sm-offset-2">
                    <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
