
@{ViewBag.Title = "Home";}

<div class="container clearfix">
    <div class="left-side left">
        <ul>
            <li><a href="#" class="title-color panel-title">Personal</a></li>
            <li>
                <span class="modal-title text-center">My orders</span>
                <ul class="sm-left-side">
                    <li><a href="#">Recent orders</a></li>
                    <li><a href="#">Evaluated</a></li>
                    <li><a href="#">Single record</a></li>
                </ul>
            </li>
            <li>
                <span class="modal-title text-center">My assets</span>
                <ul class="sm-left-side">
                    <li><a href="#">Red packet</a></li>
                    <li><a href="#">Account balance</a></li>
                    <li><a href="#">Integration</a></li>
                </ul>
            </li>
            <li>
                <span class="modal-title text-center">Profile</span>
                <ul class="sm-left-side">
                    <li><a href="#">Personal profile</a></li>
                    <li><a href="#">Address</a></li>
                    <li><a href="#">Security center</a></li>
                    <li><a href="#">Modify password</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="right-side left">
        <div class="simple-Personal">
            <a href="" class="portrait"><img src="#" alt=""></a>
            <div class="greet">
                <p>Hello,<span>AK4TRL</span>!</p>
                <p>是不是饿的睡不着呀？吃个夜宵呗！</p>
            </div>
            <div class="spt"><span></span></div>
            <div class="simple-look text-center"><a href="#"><p>Red packet</p><p>0 </p></a></div>
            <div class="spt"><span></span></div>
            <div class="simple-look text-center"><a href="#"><p>Integration</p><p>0 points</p></a></div>
            <div class="spt"><span></span></div>
            <div class="simple-look text-center"><a href="#"><p>Account balance</p><p>0 RMB</p></a></div>
        </div>
    </div>

</div>