
@{ViewBag.Title = "@Model.user | Home";}

<div class="container clearfix">
    @{Html.RenderPartial("_accountLayout");}

    <div class="right-side left">
        <div class="simple-Personal">
            <a href="" class="portrait"><img src="#" alt=""></a>
            <div class="greet">
                <p>Hello,<span>AK4TRL</span>!</p>
                <p>是不是饿的睡不着呀？吃个夜宵呗！</p>
            </div>
            <div class="spt"><span></span></div>
            <div class="simple-look text-center"><a href="#"><p>Red packet</p><p>0 </p></a></div>
            <div class="spt"><span></span></div>
            <div class="simple-look text-center"><a href="#"><p>Integration</p><p>0 points</p></a></div>
            <div class="spt"><span></span></div>
            <div class="simple-look text-center"><a href="#"><p>Account balance</p><p>0 RMB</p></a></div>
        </div>
    </div>

</div>