
@{ViewBag.Title = "Info";}

<div class="container clearfix">
    @{Html.RenderPartial("_accountLayout"); }}
    <div class="right-side left">
        <div class="global-panel-big-title">Personal profile</div>
    </div>
</div>
